@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,600&display=swap');


* {
    box-sizing: border-box
}
body {
    background-image:url("https://wallpaperaccess.com/full/426947.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
}  